body {
    background-color: #1a1a1a;
    color: white;
}

.main {
    display: flex;
    flex-direction: row;
}

.subreddits {
    display: flex;
    flex-direction: row;
}

.subreddit-column{
    width: 400px;
    padding: 1rem;
    border-right: 1px solid white;
    min-height: 100vh;
    position: relative;
}

.subreddit-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-icon {
    height: 1.5em;
    cursor: pointer;
}

.post {
    width: 100%;
    display: flex;
    min-height: 6rem;
    border: 1px solid azure;

}

.votes {
    min-width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    margin-right: 1rem;
   
}

.vote-icon {
    width: 2em;
    height: 2em;
    
}

h3 {
    font-size: 15px;
}

.add-button{
    margin-left: 1rem;
    background-color: red;
    height: fit-content;
    border-radius: 100%;
    cursor: pointer;
}

.subreddit-buttons {
    height: 10rem;
    width: 20rem;
    background-color: pink;
    position: absolute;
    top: 5rem;
    right: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    
}

.refresh-button {
    width: 20rem;
    height: 5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.delete-button{
    width: 20rem;
    height: 5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;

}

.add-container{
    width: 30rem;
    background-color: white;
    position: fixed;
    top: 30%; 
    left: 35%;
    border-radius: 2rem;
    padding: 2rem;
    color: black;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container p{
    font-size: 40px;
    margin-right: 1rem;
}
.subreddit-name{
    width: 100%;
    height: 3rem;
}

.submit-name-bttn{
    height: 4rem;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 1rem;
    font-size: 20px;
}