body {
    background-color: #1a1a1a;
    color: white;
}

.subreddit-column{
    width: 400px;
    padding: 1rem;
    border-right: 1px solid white;
    min-height: 100vh;
}

.subreddit-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-icon {
    height: 1.5em;
}

.post {
    width: 100%;
    display: flex;
    height: 6rem;
    border: 1px solid azure;

}

.votes {
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    margin-right: 1rem;
   
}

.vote-icon {
    width: 2em;
    height: 2em;
    
}

