body {
    background-color: #1b1b1b;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
}

.subreddits {
    display: flex;
    flex-direction: row;
}

.subreddit-column{
    width: 400px;
    padding: 1rem;
    border-right: 1px solid white;
    height: 100vh;
    overflow-y: auto;
    position: relative;
}



.subreddit-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-icon {
    height: 1.5em;
    cursor: pointer;
}

.post {
    width: 100%;
    display: flex;
    min-height: 6rem;
    background-color: #d93a00c1;
    border-radius: 1rem;
    margin-bottom: 1rem;

}

.votes {
    min-width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
   
}

.vote-icon {
    width: 2em;
    height: 2em;
    
}

h3 {
    font-size: 15px;
}

.add-button{
    margin-left: 1rem;
    background-color: #D93900;
    height: fit-content;
    border-radius: 100%;
    cursor: pointer;
}

.subreddit-buttons {
    visibility: hidden;
    height: 10rem;
    width: 20rem;
    background-color: #141414;
    position: absolute;
    top: 5rem;
    right: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 2 2 10px #000000;
    color: white;  
}

.subreddit-buttons.active {
    visibility: visible;
      
}

.subreddit-buttons button{
    width: 20rem;
    height: 5rem;
    background-color: transparent;
    border: none;
    color: white; 
    font-size: 20px;
    border-radius: 2rem;
}

button {
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}

.subreddit-buttons button:hover{
    
    background-color: #ffffff29;

}



.add-container{
    visibility: hidden;
    width: 30rem;
    background-color: white;
    position: fixed;
    top: 30%; 
    left: 35%;
    border-radius: 2rem;
    padding: 2rem;
    color: black;
    box-shadow: 0 0 10px #000000;
}

.add-container.active{
    visibility: visible;
 
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container p{
    font-size: 40px;
    margin-right: 1rem;
}
.subreddit-name{
    width: 100%;
    height: 3rem;
    font-size: 27px;
    outline-color: #D93900;
}

.submit-name-bttn{
    height: 4rem;
    width: 100%;
    border: none;
    background-color: #D93900;
    color: white;
    border-radius: 1rem;
    font-size: 20px;
}

.subreddit-column a{
    text-decoration: none;
    color: inherit;
}